body {
    font-family: 'Play', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1521080755838-d2311117f767?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1429&q=80)  ;
    background-repeat: repeat-x;
    background-size: 80cm;
    background-attachment: fixed;
    margin: 0cm;
    background-position-y: 100%;
}

.nav__nav {
    margin-top: 0cm;
    height: 1.5cm;
}

.nav__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 0.776cm;
    font-weight: bold;
    font-variant-caps: normal;
}

.ul__a--sb {
    text-decoration: none;
    color: white;
    margin-top: 0cm;
}

.ul__a--hab {
    text-decoration: none;
    color: white;
    margin-top: 0cm;
}

.ul__a--ctt {
    text-decoration: none;
    color: white;
    margin-top: 0cm;

}

.header {
    display: flex;
    display: grid;
    background-color: rgb(22, 21, 21);
    height: 15cm;
    
}

.header__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
    width: 300px;
    border-radius: 50%;
}

.header__h1 {
    text-align: center;
    color: white;
    margin-bottom: 0cm;
    margin-top: 0cm;
}

.header__h2 {
    text-align: center;
    color: white;
    margin-top: 0cm;
    margin-bottom: 0cm;
}

.main__section {
    display: grid;
    background-color: rgb(255, 251, 244);
    height: 15cm;
    margin-top: 0cm;
}
    
.main__section--h3 {
    text-align: center;
    color: rgb(22, 21, 21);
    margin-top: 1.5cm;
    font-size: 1cm;
    font-weight: bold;
}

#sobre {
    margin: auto;
    margin-bottom: 0cm;
}

.section__p {
    margin-left: 4cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-right: 0cm;
    font-weight: bold;
    color: rgb(22, 21, 21);
}

.section__img {
    width: 35px;
}

.section__p2 {
   text-align: justify;
   margin-top: 0.5cm;
   margin-left: 4cm;
   margin-right: 4cm;
   font-size: 0.6cm;
   color: black;
}

.main__section2 {
    display: grid;
    height: 8cm;
    color: white;
    background-attachment: fixed;
    background-color: rgb(22, 21, 21);
}

.section__h3 {
    margin-top: 1cm;
}

#habilidades.section__h3 {
    margin-top: 1cm;
    text-align: center;
    font-size: 1cm;
}

.section__h3--p {
    display: flex;
    justify-content:space-evenly;
    margin-top: 0.5cm;
}

.section__div {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0.6cm;
}

.section__h3--p2 {
    justify-content: center;
    font-size: 1cm;
    margin-top: 0cm;
}

.section__h3--p3 {
    font-size: 1cm;
    margin-top: 0cm;
}

.footer {
    display: grid;
    margin-left: 0cm;
    margin-right: 0cm;
}

.footer__div {
    background-color: rgb(255, 251, 244);
    margin: 0cm;
    margin-top: 0cm;
    height: 4cm;
}

.footer__h3 {
    font-size: 0.7cm;
    text-align: center;
    color: rgb(22, 21, 21);
    margin-top: 0.3cm;
    margin-bottom: 0.4cm;
}

.footer__div--a {
    display: flex;
    justify-content: space-around;
    margin-top: 0cm;
}

.footer__div--img {
    width: 30px;
}

.footer__div--img2 {
    width: 30px;
}

.footer__div--img3 {
    width: 30px;
}

.footer__div--img4 {
    width: 25px;
    height: 27px;
}

.footer__div--p {
    margin-bottom: 0cm;
}

.footer__section {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 0cm;
}

.footer__div--p1 {
margin-left: 0.9cm;
}

.footer__div--p2 {
    margin-left: 1.3cm;
}

.footer__div--p3 {
    margin-right: 0cm;
}

.footer__div--p4 {
    margin-right: 0.4cm;
}

.footer__p {
    text-align: center;
    color: white;
    font-size: 0.6cm;
    opacity: 0.7;
}








